#lorem {
  color: grey;
  font-family: serif;
}

img {
}

@media query row(max-width: 1280px) {
  display: inline-block;
}

@media only screen and (max-width: 992px) {
  #row {
    color: red;
  }
}

