html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #292c2f;
    display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}

.new-game-button {
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  background-color: #6aaa64;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}