body {
    font-family: "Open Sans", sans-serif;
    background-color: #292c2f;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-container {
    text-align: center;
    padding: 20px;
    /* background-color: #2d2e31; */
    background-color: #2d2e31;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    max-width: 280px;
    margin: 20px auto;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #121213;
    color: white;
    transition: background-color 0.2s, transform 0.2s;
}

.tile.correct {
    background-color: #6aaa64;
    transform: scale(1.1);
}

.tile.present {
    background-color: #c9b458;
    transform: scale(1.1);
}

.tile.absent {
    background-color: #3a3a3c;
}

.keyboard {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

button {
    padding: 10px;
    margin: 3px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #565758;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

button:active {
    background-color: #3a3a3c;
    transform: scale(0.95);
}

button.wide {
    flex: 1;
}

.new-game-button {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    background-color: #6aaa64;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-game-button:hover {
    background-color: #4a8650;
}


button.correct {
    background-color: #6aaa64;
    color: white;
}

button.present {
    background-color: #c9b458;
    color: white;
}

button.absent {
    background-color: #3a3a3c;
    color: white;
}
